#clock {
    position: absolute;
}
#face {
    position: absolute;
}

#hour {
    position: absolute;

}

#minute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#second {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
